dist: trusty
language: python

services:
  - postgresql

python:
  - '2.7'

addons:
  postgresql: '9.4'
  apt:
    packages:
      - postgresql-9.4-postgis-2.3

env:
  - GEOKEY='>=1.0,<1.1' DJANGO='>=1.8,<1.9'
  - GEOKEY='>=1.0,<1.1' DJANGO='>=1.9,<1.10'
  - GEOKEY='>=1.1,<1.2' DJANGO='>=1.8,<1.9'
  - GEOKEY='>=1.1,<1.2' DJANGO='>=1.9,<1.10'
  - GEOKEY='' DJANGO='>=1.8,<1.9'
  - GEOKEY='' DJANGO='>=1.9,<1.10'

virtualenv:
  system_site_packages: true

install:
  - sudo -E apt-get -yq update &>> ~/apt-get-update.log
  - sudo apt-get install binutils libav-tools oracle-java8-installer
  - sudo apt-get -yq install libgdal-dev python-gdal
  - gdal-config --version
  - export C_INCLUDE_PATH=/usr/include/gdal
  - export CPLUS_INCLUDE_PATH=/usr/include/gdal
  - wget https://github.com/ExCiteS/Sapelli/releases/download/v2.0.0-beta-19/sapelli-collector-cmdln-2.0.0-beta-19-jar-with-dependencies.jar -O sapelli-collector-cmdln-with-dependencies.jar

before_script:
  - psql template1 postgres -c 'create extension hstore;'
  - psql -c 'create database geokey;' -U postgres
  - psql -U postgres -d geokey -c 'create extension postgis;'
  - pip install geokey$GEOKEY
  - pip install django$DJANGO
  - python -c "import django; print('DJANGO %s ' % django.get_version())"
  - python -c "from geokey.version import get_version; print('GEOKEY %s' % get_version())"
  - pip install -r travis_ci/requirements.txt
  - pip install -e .
  - python travis_ci/manage.py migrate

script:
  - coverage run --source=geokey_sapelli travis_ci/manage.py test geokey_sapelli

after_success:
  - coveralls

deploy:
  provider: pypi
  user: excites
  password:
    secure: CpTWFd1A/U8NPZJGxFHygoMxX0JKR6mmO91OU50cCNnn35BD7ehCPm8exRvmxIfn2bRMtoIEOlQK4kkk6QaVTwL3PLTxClCMhnQxd2qew4eEksmqvGRc2b+TKtLBRqGGHtBRcGJf12ViIHFJ2BjLhCZZjQVw10PzL//NpJLUEe9suqW4AqhnWyxhOrZr5lZUArpkPKJYzvFk9n4+1njcVZWu3ZeeWc+B2ssOF0JOInRkGZNG3LE+BlmNbedaTvHAVMUUfQWFOMnelX0OueSoyhZhqq0aqBkuboennIUnJoTzTwIaEiwTrwlhbFILPa35XzlMvosi4y3qTyCbJnFboVcuVRkPD4CgF5l2nTx9mOT+3ZZl2IFXSha7VDXp0d6fHtgi6lpqIBN8Tlk2D2N6JAP/jCzF/4wSNoZYbVBgb4WO+vHovPqy4+M4FuKulEVY6Vw4aPKGxEYOVswRsMoz1KEiemqbJbDT3M3Sc+M288PFEK+4Vdo/4dYvUBKJQUazhATTcBZX8kXs2DTM+tHDyYLqFVrTzkSdAo2o2f8gqtLhVEc4xFBn536wx423FRSFhwX3aSe1zSfhDSrh2bUTUaoE9B3By/UZmtP3W3IeSKeJtsvocAnz8Z+7SVldhTohsHJnwetL+y9CuT4EI7RLdmNatvj6QbWSXsCyjHn5sjg=
  on:
    tags: true
    branch: master
