{% extends 'base.html' %}

{% block title %} | Extension: Sapelli{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_sapelli:index' %}">Sapelli</a></h1>
            </div>
        </div>
    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        {% include 'snippets/sapelli_menu.html' %}

        <div class="col-sm-8">
            <h3 class="header">Upload data to project {{ sapelli_project.geokey_project.name }}</h3>

            <form role="form" method="POST" action="{% url 'geokey_sapelli:data_csv_upload' sapelli_project.geokey_project.id %}" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="form-group">
                    <label for="form_id" class="control-label">Select form for data upload</label>
                    <select name="form_category_id" id="form_id" class="form-control">
                        <option value="">(none)</option>
                        {% for form in sapelli_project.forms.all %}
                        <option value="{{ form.category.id }}">{{ form.sapelli_id }}</option>
                        {% endfor %}
                    </select>
                    Not required if CSV file header contains form identification (modelID &amp; modelSchemaNumber).
                </div>

                <div class="form-group">
                    <label for="csv_file" class="control-label">CSV file</label>
                    <input type="file" name="csv_file" id="csv_file "accept=".csv,text/csv,text/comma-separated-values,application/csv" required/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
<link rel="stylesheet" href="/static/lib/bootstrap-fileinput/css/bootstrap-fileinput.min.css">
<script src="/static/lib/bootstrap-fileinput/js/bootstrap-fileinput.min.js"></script>

<script src="/static/js/admin.ui.fileinput.js"></script>
<script src="/static/js/admin.ui.forms.validate.js"></script>

<script>
// Initialise file upload
$('input:file').each(function() {
    Ui.FileInput.init($(this), {
        showUpload: false,
        showRemove: false,
        showPreview: false
    });
});
</script>
{% endblock %}
