{% extends "base.html" %}

{% block title %} | Extension: Sapelli{% endblock %}

{% block main %}
<div class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1 class="smaller"><a href="{% url 'geokey_sapelli:index' %}">Sapelli</a></h1>
			</div>
		</div>
	</div>
</div>

<div class="container">
	{% include 'snippets/messages.html' %}

	<div class="row">
		{% include 'snippets/sapelli_menu.html' %}

		<div class="col-sm-8">
			<h3 class="header">Sapelli projects</h3>

			<ul id="projects" class="list-unstyled overview-list">
			{% for sapelli_project in sapelli_projects %}
				<li>
					<h4>{{ sapelli_project.geokey_project.name }}</h4>
					<p>
						{% if sapelli_project.geokey_project.description %}
							{{sapelli_project.geokey_project.description|linebreaks}}
						{% else %}
							<br/>
						{% endif %}
					</p>
					<h4>
						<a href="" class="label label-info" data-toggle="modal" data-target="#info-dialog-{{ sapelli_project.geokey_project.id }}">Info</a>
						<a href="{% url 'geokey_sapelli:data_csv_upload' sapelli_project.geokey_project.id %}" class="label label-info">Upload data</a>
						{% if sapelli_project.sap_path %}
						<a href="{% url 'geokey_sapelli:sap_download_api' sapelli_project.geokey_project.id %}" class="label label-info">Download SAP</a>
						<a href="" class="label label-info" data-toggle="modal" data-target="#qr-dialog-{{ sapelli_project.geokey_project.id }}">SAP QR code</a>
						{% endif %}
						<a href="{% url 'admin:project_overview' sapelli_project.geokey_project.id %}" class="label label-info">Manage project</a>
					</h4>
					{% if sapelli_project.sap_path %}
					<div class="modal fade" id="qr-dialog-{{ sapelli_project.geokey_project.id }}" tabindex="-1" role="dialog" aria-labelledby="qrDialogLabel-{{ sapelli_project.geokey_project.id }}" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Hide code">&times;</button>
									<h6 class="item-info">Sapelli project</h6>
									<h4 class="modal-title">{{ sapelli_project.geokey_project.name }}</h4>
								</div>
								<div class="modal-body" style="text-align: center">
									<h5 class="modal-title" style="text-align: justify; text-justify: auto; padding-bottom: 1em;">To install the project on your Android device, simply scan the QR code below using the <a href="https://play.google.com/store/apps/details?id=uk.ac.ucl.excites.sapelli.collector" target="_blank">Sapelli Collector app</a>.</h5>
									<h6 class="item-info" id="qrDialogLabel-{{ sapelli_project.geokey_project.id }}">QR link to download SAP file:</h6>
									<a href="" id="qr-a-{{ sapelli_project.geokey_project.id }}">
										<img id="qr-img-{{ sapelli_project.geokey_project.id }}" title="QR code to download SAP file" style="padding-bottom: 1em;"/>
									</a>
									<h6 class="item-info">QR code expires in:</h6>
									<div id="qr-expires-{{ sapelli_project.geokey_project.id }}">&hellip;</div>
									<h4 style="padding-top: 0.25em;">
										<a href="" class="label label-info" onClick="hideQRDialog({{ sapelli_project.geokey_project.id }}); return false;">Hide code</a>
										<a href="" class="label label-info" onClick="revokeQR({{ sapelli_project.geokey_project.id }}); return false;" style="background-color: #DC7171;">Revoke code</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					<div class="modal fade" id="info-dialog-{{ sapelli_project.geokey_project.id }}" tabindex="-1" role="dialog" aria-labelledby="infoDialogLabel-{{ sapelli_project.geokey_project.id }}" aria-hidden="true">
						<div class="modal-dialog modal-sm">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true" title="Hide code">&times;</button>
									<h6 class="item-info">Sapelli project</h6>
									<h4 id="infoDialogLabel-{{ sapelli_project.geokey_project.id }}" class="modal-title">{{ sapelli_project.geokey_project.name }}</h4>
								</div>
								<div class="modal-body">
									<table class="table-striped">
										<tbody>
											<tr>
												<td><b>Name:&nbsp;</b></td>
												<td>{{ sapelli_project.name }}</td>
											</tr>
											<tr>
												<td><b>Variant:&nbsp;</b></td>
												<td>{% if sapelli_project.variant %}{{ sapelli_project.variant }}{% endif %}</td>
											</tr>
											<tr>
												<td><b>Version:&nbsp;</b></td>
												<td>{{ sapelli_project.version }}</td>
											</tr>
											<tr>
												<td><b>GeoKey ID:&nbsp;</b></td>
												<td>{{ sapelli_project.geokey_project.id }}</td>
											</tr>
											<tr>
												<td><b>Sapelli ID:&nbsp;</b></td>
												<td>{{ sapelli_project.sapelli_id }}</td>
											</tr>
											<tr>
												<td><b>Fingerprint:&nbsp;</b></td>
												<td>{{ sapelli_project.sapelli_fingerprint }}</td>
											</tr>
											<tr>
												<td><b>Model ID:&nbsp;</b></td>
												<td>{{ sapelli_project.sapelli_model_id }}</td>
											</tr>
											<tr>
												<td><b>Forms:</b></td>
												<td><ul>
													{% for form in sapelli_project.forms.all %}
													<li>{{ form.sapelli_id }} (GeoKey category ID: {{ form.category.id }})</li>
													{% endfor %}
												</ul></td>
											</tr>
											<tr>
												<td><b>Upload at:&nbsp;</b></td>
												<td>{{ sapelli_project.geokey_project.created_at }}</td>
											</tr>
											<tr>
												<td><b>Upload by:&nbsp;</b></td>
												<td>{{ sapelli_project.geokey_project.creator.display_name }}</td>
											</tr>
										</tbody>
									</table>
									<h4 style="padding-top: 0.25em; text-align: center">
										<a href="" class="label label-info" onClick="$('#info-dialog-' + {{ sapelli_project.geokey_project.id }}).modal('hide'); return false;">Close</a>
									</h4>
								</div>
							</div>
						</div>
					</div>
			{% endfor %}
				<li>
					{% if not sapelli_projects %}
					<p>No Sapelli projects were found.</p>
					{% endif %}
					<h4><a href="{% url 'geokey_sapelli:project_upload' %}" class="label label-info">Add project</a></h4>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}

{% block libraries %}
<script src="/static/lib/js-cookie/js.cookie.min.js"></script>

<script>
	var csrftoken = Cookies.get('csrftoken');

	function csrfSafeMethod(method) {
		// these HTTP methods do not require CSRF protection
		return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	}

	$.ajaxSetup({
		data: {csrfmiddlewaretoken: csrftoken },
		beforeSend: function(xhr, settings) {
			if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
				xhr.setRequestHeader("X-CSRFToken", csrftoken);
			}
		}
	});
	
	var getQRImg = function(projectID)
	{
		return $("#qr-img-" + projectID);
	}
	
	var getQRLink = function(projectID)
	{
		return $("#qr-a-" + projectID);
	}
	
	var getQRCountdown = function(projectID)
	{
		return $("#qr-expires-" + projectID);
	}
	
	var getQRDialog = function(projectID)
	{
		return $('#qr-dialog-' + projectID);
	}
	
	var setupQRDialogEvents = function(projectID)
	{
		// On showing of QR dialog:
		getQRDialog(projectID).on('shown.bs.modal', function()
		{
			setQRDialogContent(projectID);
		});
		
		// On hiding of QR dialog:
		getQRDialog(projectID).on('hidden.bs.modal', function()
		{
			clearQRDialogContent(projectID);
		});
	}
	
	var qrs = {};

{% for sapelli_project in sapelli_projects %}
{% if sapelli_project.sap_path %}
	// Project {{ sapelli_project.geokey_project.id }}...
	// 	QR object for project:
	qrs[{{ sapelli_project.geokey_project.id }}] = {
		imgURL: "{% url 'geokey_sapelli:sap_download_qr_link_api' sapelli_project.geokey_project.id %}"
	};
	//	Set-up dialog events:
	setupQRDialogEvents({{ sapelli_project.geokey_project.id }});
{% endif %}
{% endfor %}
	
	var setQRDialogContent = function(projectID)
	{
		if(!qrs[projectID].imageURLBlob)
		{
			requestQR(projectID);
		}
		else
		{
			// Set QR image:
			getQRImg(projectID).attr("src", qrs[projectID].imageURLBlob);
			// Set hyperlink on QR img to the full url as embedded in QR:
			//	(so people copying the link url can pass it to others as they would pass the qr code)
			getQRLink(projectID).attr("href", qrs[projectID].link);
			// Set countdown:
			qrs[projectID].countdown = setInterval(function () { countdown(projectID); }, 1000);
		}
	}
	
	var requestQR = function(projectID)
	{
		// Use a native XHR so we can use custom responseType
		var xhr = new XMLHttpRequest();
		xhr.open("GET", qrs[projectID].imgURL, true);

		// Ask for the result as an ArrayBuffer.
		xhr.responseType = "arraybuffer";

		xhr.onload = function(e)
		{
			// Obtain a blob-URL for the image data:
			qrs[projectID].imageURLBlob = URL.createObjectURL(new Blob([ new Uint8Array(this.response) ], { type: "image/png" }));
			// Get the QR url from response:
			qrs[projectID].link = this.getResponseHeader('X-QR-URL');
			// Get the expire time from response:
			qrs[projectID].expires = new Date(this.getResponseHeader('X-QR-Access-Token-Expires'));

			setQRDialogContent(projectID);
		};
		xhr.send();
	}
	
	var clearQRDialogContent = function(projectID)
	{
		clearInterval(qrs[projectID].countdown);
		qrs[projectID].countdown = undefined;
		getQRImg(projectID).attr("src", "");
		getQRLink(projectID).attr("href", "");
		getQRCountdown(projectID).html("&hellip;");
	}
	
	var hideQRDialog = function(projectID)
	{
		getQRDialog(projectID).modal('hide'); // -> clearQRDialogContent() will also be called
	}
	
	var forgetQRImg = function(projectID)
	{
		// Hide dialog (clearQRDialogContent() will also be called):
		hideQRDialog(projectID);
		
		// Forget the QR img, expires, link:
		qrs[projectID].imageURLBlob = undefined;
		qrs[projectID].link = undefined;
		qrs[projectID].expires = undefined;
	}
	
	var revokeQR = function(projectID)
	{
		// Forget about the QR img:
		forgetQRImg(projectID); // will also hide the dialog, stop the countdown, etc.
		
		// Tell server to throw away QR link/access_token:
		$.ajax({
			url: qrs[projectID].imgURL,
			type: 'DELETE',
			success: function(result) { /*console.log(result)*/ }});
	}
	
	var countdown = function(projectID)
	{
		var /*days, */hours, minutes, seconds;
		var seconds_left = (qrs[projectID].expires - new Date()) / 1000;
	
		if(seconds_left < 0)
		{
			// Forget about the QR img:
			forgetQRImg(projectID); // will also hide the dialog, stop the countdown, etc.
		}
		else
		{
			//days = parseInt(seconds_left / 86400);
			//seconds_left = seconds_left % 86400;
		
			hours = parseInt(seconds_left / 3600);
			seconds_left = seconds_left % 3600;
		
			minutes = parseInt(seconds_left / 60);
			seconds = parseInt(seconds_left % 60);
		
			// format countdown string + set tag value
			getQRCountdown(projectID).html(
				/*'<span class="days">' + days + ' Days</span> ' +*/
				'<span class="hours">' + hours + ' Hours</span> ' +
				'<span class="minutes">' + minutes + ' Minutes</span> ' +
				'<span class="seconds">' + seconds + ' seconds</span>');
		}
	}
</script>
{% endblock %}
