{% extends "base.html" %}

{% block title %} | Extension: Sapelli{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_sapelli:index' %}">Sapelli</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        {% include 'snippets/sapelli_menu.html' %}

        <div class="col-sm-8">
            <h3 class="header">Sapelli projects</h3>

			<ul class="list-unstyled overview-list">
            {% for sapelli_project in sapelli_projects %}
                    <li>
                        <h4>{{ sapelli_project.geokey_project.name }}</h4>
                        {% if sapelli_project.geokey_project.description %}<p>{{sapelli_project.geokey_project.description|linebreaks}}</p>{% endif %}
						<h4>
							<a href="{% url 'geokey_sapelli:data_csv_upload' sapelli_project.geokey_project.id %}" class="label label-info">Upload data</a>
							<a href="{% url 'admin:project_overview' sapelli_project.geokey_project.id %}" class="label label-info">Manage project</a>
                        </h4>
                    </li>
            {% endfor %}
				<li>
					{% if not sapelli_projects %}<p>No Sapelli projects were found.</p>{% endif %}
					<h4><a href="{% url 'geokey_sapelli:project_upload' %}" class="label label-info">Add project</a></h4>
				</li>
			</ul>
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
{% endblock %}
