{% extends "base.html" %}

{% block title %} | Extension: Sapelli{% endblock %}

{% block main %}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="smaller"><a href="{% url 'geokey_sapelli:index' %}">Sapelli</a></h1>
            </div>
        </div>

    </div>
</div>

<div class="container">
    {% include 'snippets/messages.html' %}

    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h6 class="item-info">Extension</h6>
                    <h3>Sapelli</h3>
                </div>
                <div class="list-group">
                    <a href="{% url 'geokey_sapelli:index' %}" class="list-group-item active">
                        Sapelli projects
                    </a>
                    <a href="{% url 'geokey_sapelli:project_upload' %}" class="list-group-item">
                        Upload new decision tree
                    </a>
                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <h3 class="header">Sapelli projects</h3>
            {% for sapelli in projects %}
                {% if forloop.first %}<ul class="list-unstyled overview-list">{% endif %}

                    <li>
                        <h4><a href="{% url 'geokey_sapelli:data_upload' sapelli.project.id%}">{{ sapelli.project.name }}</a></h4>
                        {% if sapelli.project.description %}<p>{{sapelli.project.description}}</p>{% endif %}
                    </li>

                {% if forloop.last %}</ul>{% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block libraries %}
{% endblock %}
